// Define variable defaults
$body-bg: #000;
$body-color: #111;

.xis-default-page-size {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 12px;
    flex-direction: column;
}

.ant-btn-primary {
    background-color: #222d32 !important;
    border-color: #1a2226 !important;
    box-shadow: 0 0 3px #fff4 !important;
    color: #c7c7c7 !important;

    &:hover {
        background-color: #29363b !important;
        box-shadow: 0 0 3px #fff8 !important;
    }
}

.ant-btn-secondary {
    background-color: #58aada !important;
    border-color: #506f80 !important;
    color: #fff !important;
    // box-shadow: 0 0 3px #5493b8 !important;

    &:hover {
        background-color: #4b99c7 !important;
        color: #c7c7c7 !important;
        // box-shadow: 0 0 3px #fff8 !important;
    }
}

.ant-btn-default {
    background-color: #e2eef5 !important;
    border-color: #9cb9c9 !important;
    color: #666 !important;
    // box-shadow: 0 0 3px #5493b8 !important;

    &:hover {
        background-color: #bfd6e2 !important;
        color: #666 !important;
        // box-shadow: 0 0 3px #fff8 !important;
    }
}

.anticon {
  vertical-align: 0rem !important;
}

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';